.nli-primary {
  color: mat-color($primary-color) !important;
}
.nli-accent {
  color: mat-color($accent-color) !important;
}
.nli-warn {
  color: mat-color($warn-color) !important;
}
.nli-primary-bg {
  background-color: mat-color($primary-color) !important;
}
.nli-accent-bg {
  background-color: mat-color($accent-color) !important;
}
.nli-warn-bg {
  background-color: mat-color($warn-color) !important;
}
.nli-primary-border {
  border-color: mat-color($primary-color) !important;
  border-top-color: mat-color($primary-color) !important;
  border-bottom-color: mat-color($primary-color) !important;
  border-left-color: mat-color($primary-color) !important;
  border-right-color: mat-color($primary-color) !important;
}
.nli-accent-border {
  border-color: mat-color($accent-color) !important;
  border-top-color: mat-color($accent-color) !important;
  border-bottom-color: mat-color($accent-color) !important;
  border-left-color: mat-color($accent-color) !important;
  border-right-color: mat-color($accent-color) !important;
}
.nli-warn-border {
  border-color: mat-color($warn-color) !important;
  border-top-color: mat-color($warn-color) !important;
  border-bottom-color: mat-color($warn-color) !important;
  border-left-color: mat-color($warn-color) !important;
  border-right-color: mat-color($warn-color) !important;
}
