/* styles.scss */
/* You can add global styles to this file, and also import other style files */

p {
  font-family: Lato;
}

.myClass {
  background: #ff0000;
}

.actions a {
  padding: 6px;
}
