<!-- <div class="container">
  <table class="table table-bordered">
    <thead>
      <th></th>
      <th>No.</th>
      <th>Asset</th>
      <th>Platforms</th>
      <th>CheckFire</th>
    </thead>

    <tbody>
      <tr *ngFor="let tableData of tableData | tableFilter: gender">
        <td><input type="checkbox" /></td>
        <td>{{ tableData.no }}</td>
        <td>
          <select class="form-control">
            <option value="male">Battery</option>
            <option value="female">Aircaft</option>
          </select>
        </td>
        <td>{{ tableData.platforms }}</td>
        <td><input type="checkbox" /></td>
      </tr>
    </tbody>
  </table>
</div> -->

<div>
  <button (click)="addNewRow()">Add New Row</button>
</div>

<div>
  <h3>NGX DataTable</h3>
</div>
<div class="border-top" style="margin-bottom: 1rem !important;"></div>
<div class="col-md-12 mb-3" style="margin-top: 10px;">
  <ngx-datatable
    class="material container striped"
    [rows]="rows"
    [columnMode]="'flex'"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [selectionType]="'checkbox'"
  >
    <ngx-datatable-column name="" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <input type="checkbox" />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="No" [flexGrow]="0.5">
      <ng-template
        let-rowIndex="rowIndex"
        let-row="row"
        ngx-datatable-cell-template
      >
        {{ rowIndex + 1 }}
      </ng-template>
    </ngx-datatable-column>
    <!-- <ngx-datatable-column name="Name" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.name | titlecase }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Town" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.town }}
      </ng-template>
    </ngx-datatable-column> -->

    <ngx-datatable-column name="Assets" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <select class="form-control">
          <option value="male">Battery</option>
          <option value="female">Aircaft</option>
        </select>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Platforms" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.age }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="C Fire" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <input type="checkbox" />
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
<br />
